/*Two-column layout*/

.column {
    float: left;
}

.left {
    margin-left: 5%;
    width: 15%;
}

.right {
    width: 70%;
    margin-right: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}

/*Styles for year and project*/

.year {
    width: 128px;
    height: 128px;
    margin: auto;
    color: black;
    font-family: sans-serif;
    font-size: 32px;
    border-radius: 150px;
    display: block;
}

div.project {
    background-color: rgb(190, 190, 190);
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

img {
    width: 500px;
    display: inline-block;
    border-width: 10px;
    border-style: double;
    border-color: black;
    display: block;
    margin: auto;
}

/*Slideshow for several images related to one project*/

.slideshow-container {
    width: 650px;
    height: 250px;
    position: relative;
    margin: auto;
}

.slidesProj {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 20px;
    color: white;
    font-size: 18px;
    background-color: grey;
}

.next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: rgb(110, 110, 110);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot:hover {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.2s;
    animation-name: fade;
    animation-duration: 1.2s;
}

@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}