body {
    background-color: lightseagreen;
    background-image: url("img/iceland-back.jpg");
    background-size: 100%;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

p {
    font-family: sans-serif;
}

div.transbox {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8)
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    opacity: 0.5;
    transition: height 200ms, opacity 200ms;
}

canvas.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
}

/*Welcoming images on main page*/
img.welcome {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 250px;
    opacity: 0.5;
    transition: height 200ms, opacity 200ms;
}
img.welcome:hover {
    height: 300px;
    opacity: 1.0;
}
div.welcome {
    height: 300px;
    text-align: center;
    vertical-align: middle;
}
/*Helper is needed to align images vertically in the middle*/
span.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*Navigation menu*/
ul.menu {
    font-family: sans-serif;
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.menu li{
    display: inline;
    padding-right: 8px;
}
ul.menu li a{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    color: black;
    text-decoration: none;
}
ul.menu li a.active{
    background-color: rgba(150, 150, 150, 1);
}
ul.menu li a:hover {
    background-color: limegreen;
}